@using pmcs.Model.Contracts;
@model pmcs.Model.ViewModels.PODetailsViewModel

@{
    ViewBag.Title = "PMCS v1.2 - Purchase Order : " + Model.PO.PONumber;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li><a href="#"><em class="fa fa-home"></em></a></li>
        <li>Contracts</li>
        <li><a href="@Url.Action("POs","Contracts")">Purchase Orders</a></li>
        <li class="active">@Model.PO.PONumber</li>
    </ol>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@Model.PO.PONumber - Purchase Order</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default ">
            <div class="panel-heading">
                Purchase Order @Model.PO.PONumber
                <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
            </div>
            <div class="panel-body">

                <h4>Basic PO Details</h4>
                <br />
                <p>
                    <table class="table" style="width:100%">
                        <tbody>
                            <tr>
                                <td style=" width: 20% ">
                                    Purchase Order Number :
                                </td>
                                <td>
                                    <span>@Model.PO.PONumber</span>
                                </td>
                                <td>&nbsp;</td>
                                <td style="width: 15%">
                                    Project :
                                </td>
                                <td>
                                    <a href="@Url.Action("ProjectDetails","Projects", new { id = Model.PO.ProjectId, title = HttpUtility.HtmlEncode(Model.PO.ProjectName) })">
                                        <span>@Model.PO.ProjectName</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style=" width: 20% ">
                                    PO Gross :
                                </td>
                                <td>
                                    <span>@Model.PO.PoGross</span>
                                </td>
                                <td>&nbsp;</td>
                                <td style=" width: 20% ">
                                    Contractor :
                                </td>
                                <td>
                                    <span>@Model.PO.ContractorName</span>
                                </td>
                            </tr>
                            <tr>
                                <td style=" width: 20% ">
                                    PO Date :
                                </td>
                                <td>
                                    <span>@(Model.PO.PODate != null ? ((DateTime)Model.PO.PODate).ToShortDateString() : "")</span>
                                </td>
                                <td>&nbsp;</td>
                                <td style=" width: 20% ">
                                    CUL Group :
                                </td>
                                <td>
                                    <span>@Model.PO.CULGroupName</span>
                                </td>
                            </tr>
                            <tr>
                                <td style=" width: 20% ">
                                    PO Status :
                                </td>
                                <td>
                                    <span>@(Model.PO.POStatus == 1 ? "Open" : "Closed")</span>
                                </td>
                                <td>&nbsp;</td>
                                <td style=" width: 20% ">
                                    Task/Milestone
                                </td>
                                <td>
                                    <span>@Model.PO.ProjectTaskName</span>
                                </td>
                            </tr>
                            <tr>
                                <td style=" width: 20% ">
                                    PO Net :
                                </td>
                                <td>
                                    <span>@Model.PO.PoNet</span>
                                </td>
                                <td>&nbsp;</td>
                                <td style=" width: 20% ">
                                    Currency :
                                </td>
                                <td>
                                    <span>@Model.PO.CurrencyId</span>
                                </td>
                            </tr>
                            <tr>
                                <td style=" width: 20% ">
                                    FOC Gross :
                                </td>
                                <td>
                                    <span>@Model.PO.FOCGross</span>
                                </td>
                                <td>&nbsp;</td>
                                <td style=" width: 20% ">
                                    Implementation End Date :
                                </td>
                                <td>
                                    <span>@(Model.PO.ImplementationEndDate != null ? ((DateTime)Model.PO.ImplementationEndDate).ToShortDateString() : "")</span>
                                </td>
                            </tr>
                            <tr>
                                <td style=" width: 20% ">
                                    PO Classification :
                                </td>
                                <td>
                                    <span>@Model.PO.POClassificationName</span>
                                </td>
                                <td>&nbsp;</td>
                                <td style=" width: 20% "></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </p>
                <div id="container"></div>
                <div class="panel-body tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#elements" data-toggle="tab" aria-expanded="true"><i class="fa fa-cubes"></i>&nbsp;Purchase Order Elements</a></li>
                        <li class=""><a href="#jobs" data-toggle="tab" aria-expanded="false"><i class="fa fa-handshake-o"></i>&nbsp;Purchase Order Jobs</a></li>
                        <li class=""><a href="#BOQs" data-toggle="tab" aria-expanded="false"><i class="fa fa-calculator"></i>&nbsp;Purchase Order BOQs</a></li>
                        <li class=""><a href="#Quotation" data-toggle="tab" aria-expanded="false"><i class="fa fa-money"></i>&nbsp;Quotation L1s</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="elements">
                            <h4>
                                Purchase Order Elements
                            </h4>
                            <br />
                            <p>
                                <table class="table table-striped datatable">
                                    <thead>
                                        <tr>
                                            <th>
                                                Element 1
                                            </th>
                                            <th>
                                                Element 2
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Element in Model.Elements)
                                        {
                                            <tr>
                                                <td>
                                                    <a href="@Url.Action("ElementDetails", "Contracts", new { id = Element.ElementId })#Elements">
                                                        @Element.ElementName
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("ElementDetails", "Contracts", new { id = Element.ElementId })#Elements">
                                                        @Element.ElementName2
                                                    </a>
                                                </td>
                                                <td>
                                                    @Element.Description
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="jobs">
                            <h4>Purchase Order Jobs</h4>

                            <table class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>
                                            Job Number
                                        </th>
                                        <th>
                                            Purchase Order
                                        </th>
                                        <th>
                                            Element
                                        </th>
                                        <th>
                                            Project
                                        </th>
                                        <th>
                                            Site
                                        </th>
                                        <th>
                                            Job Type
                                        </th>
                                        <th>
                                            Task / Milestone
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Job in Model.Jobs)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("JobsDetails", "Contracts", new { id = Job.JobId })#jobs">
                                                    @Job.JobNumber
                                                </a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("POsDetails", "Contracts", new { id = Job.POId })">
                                                    @Job.PONumber
                                                </a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("ElementDetails", "Contracts", new { id = Job.ElementId })">
                                                    @Job.ElementName
                                                </a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("ProjectDetails", "Projects", new { id = Job.ProjectId })">
                                                    @Job.ProjectName
                                                </a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("SitesDetails", "Contracts", new { id = Job.SiteIdNumber })">
                                                    @Job.SiteName
                                                </a>
                                            </td>
                                            <td>
                                                @Job.JobTypeName
                                            </td>
                                            <td>
                                                @Job.TaskName
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                        <div class="tab-pane fade" id="BOQs">
                            <h4>Purchase Order BOQs</h4>
                            <div id="DivAddBOQ"></div>
                            <table class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>
                                            Job Number
                                        </th>
                                        <th>
                                            CUL Name
                                        </th>
                                        <th>
                                            Quantity
                                        </th>
                                        <th>
                                            FOC
                                        </th>
                                        <th>
                                            Payable
                                        </th>
                                        <th>
                                            IsFOC
                                        </th>
                                        @*<th></th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var bOQ in Model.BOQs)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("JobsDetails", "Contracts", new { id = bOQ.JobId })#jobs">
                                                    @bOQ.JobNumber
                                                </a>
                                            </td>
                                            <td>
                                                @bOQ.CULName
                                            </td>
                                            <td>
                                                @bOQ.Quantity
                                            </td>
                                            <td>
                                                @bOQ.FOC
                                            </td>
                                            <td>
                                                @bOQ.Payable
                                            </td>
                                            <td>
                                                @bOQ.IsFOC
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="Quotation">
                            <h4>Quotation L1s</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section customScripts {
    <script type="text/javascript" src="~/Scripts/App/POs/PODetails.jsx"></script>
}