@using pmcs.Model
@model IEnumerable<pmcs.Models.UserAccountModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>District</th>
            @*<th>Department</th>*@
            <th>Is Administrator</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.FullName</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Mobile</td>
                <td>@user.DistrictName</td>
                @*<td>@user.Department</td>*@
                <td>@(user.IsAdministrator == true ? "Yes" : "No" )</td>
                <td>
                    <button id="btnEditUser_@user.UserId" class="btn btn-primary btn-fill btn-xs"><i class="ti-reload"></i> Edit</button>
                    <button id="btnDetailsUser_@user.UserId" class="btn btn-success btn-fill btn-xs"><i class="ti-eye"></i> Details</button>
                    @if (user.IsActive)
                    {
                        <button id="btnDisableUser_@user.UserId" class="btn btn-danger btn-fill btn-xs"><i class="ti-arrow-down"></i> Disable</button>
                    }
                    else
                    {
                        <button id="btnEnableUser_@user.UserId" class="btn btn-warning btn-fill btn-xs"><i class="ti-arrow-up"></i> Enable</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
